# 
# install ros & moveit
# 
    if ! [ -f "./ros_install_noetic.sh" ]
    then
        wget -c https://raw.githubusercontent.com/qboticslabs/ros_install_noetic/master/ros_install_noetic.sh && chmod +x ./ros_install_noetic.sh && ./ros_install_noetic.sh
    fi
    
    # check if file exists
    if [ -f "/opt/ros/noetic/setup.bash" ]
    then
        builtin cd /opt/ros/noetic/
        source /opt/ros/noetic/setup.bash
        builtin cd - 1>/dev/null
    fi
    
# 
# ros add-ons
# 
    # make sure the rosbridge-suite is installed
    sudo apt install -y \
        python3-pip \
        ros-noetic-rosbridge-suite \
        python3-rosdep \
        ros-noetic-moveit \
        ros-noetic-moveit-commander \
        ros-noetic-rosserial
    
    # had to do: locate libeigenpy.so to find this folder cause of a libeigenpy.so error
    export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/opt/ros/noetic/lib/x86_64-linux-gnu/:/opt/ros/noetic/lib/"

    catkin_dir="./catkin_ws"
    # if doesn't exist, make it
    if ! [ -d "$catkin_dir/devel" ]
    then
        cd "$catkin_dir"
        catkin_make
        sudo rosdep init
        rosdep update

        rosdep install --from-paths src --ignore-src -r -y
        builtin cd - 1>/dev/null
    fi

# 
# source devel/setup.bash
# 
    if [ -d "$catkin_dir/devel" ]
    then
        builtin cd "$catkin_dir/devel"
        source "./setup.bash"
        builtin cd - 1>/dev/null
    fi

# 
# install nodejs if needed
# 
    # if node doesnt exist, get it
    if [ -z "$(command -v "node")" ]
    then
        sudo apt-get update && sudo apt-get install -y curl
        curl -fsSL https://deb.nodesource.com/setup_16.x | sudo -E bash -
        sudo apt-get update && sudo apt-get install -y nodejs
    fi

    # if npm doesnt exist, get it
    if [ -z "$(command -v "npm")" ]
    then
        sudo apt-get update && sudo apt-get install -y npm
    fi

# 
# disable firewall
# 
    echo "disabling firewall"
    sudo ufw disable