# 
# install ros & moveit
# 
    if ! [ -f "./ros_install_noetic.sh" ]
    then
        wget -c https://raw.githubusercontent.com/qboticslabs/ros_install_noetic/master/ros_install_noetic.sh && chmod +x ./ros_install_noetic.sh && ./ros_install_noetic.sh
        builtin cd /opt/ros/noetic/
        source /opt/ros/noetic/setup.bash
        builtin cd - 1>/dev/null
    fi

# 
# ros add-ons
# 
    # make sure the rosbridge-suite is installed
    sudo apt install -y \
        ros-noetic-rosbridge-suite \
        python3-rosdep \
        ros-noetic-moveit-commander
    
    # had to do: locate libeigenpy.so to find this folder cause of a libeigenpy.so error
    export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/opt/ros/noetic/lib/x86_64-linux-gnu/:/opt/ros/noetic/lib/"

    catkin_dir="./catkin_ws"
    # if doesn't exist, make it
    if ! [ -d "$catkin_dir/devel" ]
    then
        cd "$catkin_dir"
        catkin_make
        sudo rosdep init
        rosdep update

        rosdep install --from-paths src --ignore-src -r -y
        builtin cd - 1>/dev/null
    fi

# 
# source devel/setup.bash
# 
    if [ -d "$catkin_dir/devel" ]
    then
        builtin cd "$catkin_dir/devel"
        source "./setup.bash"
        builtin cd - 1>/dev/null
    fi

# 
# install nodejs if needed
# 
    # if node doesnt exist, get it
    if [ -z "$(command -v "node")" ]
    then
        sudo apt-get update && sudo apt-get install -y curl
        curl -fsSL https://deb.nodesource.com/setup_16.x | sudo -E bash -
        sudo apt-get update && sudo apt-get install -y nodejs
    fi

    # if npm doesnt exist, get it
    if [ -z "$(command -v "npm")" ]
    then
        sudo apt-get update && sudo apt-get install -y npm
    fi


# 
# setup servers
# 
server_folder="$catkin_dir/src/sb_master/sb_web"
    
    # 
    # disable firewall
    # 
        echo "disabling firewall"
        sudo ufw disable
    
    # 
    # setup node server
    # 
        # if sd doesnt exist (sd is a better version of sed)
        if [ -z "$(command -v "sd")" ]
        then
            nix-env -iA nixpkgs.sd -I nixpkgs=https://github.com/NixOS/nixpkgs/archive/aa0e8072a57e879073cee969a780e586dbe57997.tar.gz
        fi
        
        question="start node server? [y/n]";answer=''
        while true; do
            echo "$question"; read response
            case "$response" in
                [Yy]* ) answer='yes'; break;;
                [Nn]* ) answer='no'; break;;
                * ) echo "Please answer yes or no.";;
            esac
        done
        
        builtin cd "$server_folder"
        npm install
        host_ip_address="127.0.0.1"
        if [ "$answer" = 'yes' ]; then
            # if ansifilter doesnt exist
            if [ -z "$(command -v "ansifilter")" ]
            then
                nix-env -iA nixpkgs.ansifilter -I nixpkgs=https://github.com/NixOS/nixpkgs/archive/aa0e8072a57e879073cee969a780e586dbe57997.tar.gz
            fi
            port_number=8083
            denoliver -p "$port_number" --certFile cert.pem --keyFile key.pem . | ansifilter | tee simple_server_output.txt &
            # npx http-server --port 8083 -S -C cert.pem -o -K key.pem &
            echo '...'
            sleep 1
            echo '...'
            sleep 1
            echo '...'
            sleep 1
            echo '...'
            sleep 1
            echo '...'
            sleep 1
            host_ip_address="$(cat simple_server_output.txt | ansifilter | grep 'Network:' | sd '[ \t]*Network:[ \t]*http://(.+)?:'"$port_number" '${1}')"
            echo 'host_ip_address: '"$host_ip_address"
        else
            echo "okay"
        fi
        builtin cd -


    # 
    # patch rb_server.launch (inject correct cert.pem and key.pem paths, and default host address)
    # 
        builtin cd "$server_folder"
        sd 'address" default=".*?"' 'address" default="'"$host_ip_address"'"' rb_server.launch
        sd 'value=".*sb_master/sb_web/cert\.pem' "value=\"$PWD/cert.pem" rb_server.launch
        sd 'value=".*sb_master/sb_web/key\.pem' "value=\"$PWD/key.pem" rb_server.launch
        sd 'default=".*sb_master/sb_web/cert\.pem' "default=\"$PWD/cert.pem" rb_server.launch
        sd 'default=".*sb_master/sb_web/key\.pem' "default=\"$PWD/key.pem" rb_server.launch
        builtin cd -
    
    # 
    # rosbridge server
    # 
        question="start rosbridge? [y/n]";answer=''
        while true; do
            echo "$question"; read response
            case "$response" in
                [Yy]* ) answer='yes'; break;;
                [Nn]* ) answer='no'; break;;
                * ) echo "Please answer yes or no.";;
            esac
        done
        
        builtin cd "$server_folder"
        if [ "$answer" = 'yes' ]; then
            roslaunch rb_server.launch &
            echo '...'
            sleep 1
            echo '...'
            sleep 1
            echo '...'
            sleep 1
            echo '...'
            sleep 1
            echo '...'
            sleep 1
        else
            echo "okay"
        fi
        builtin cd -
# 
# run lab_1.py
# 
    question="run lab_1.py? [y/n]";answer=''
    while true; do
        echo "$question"; read response
        case "$response" in
            [Yy]* ) answer='yes'; break;;
            [Nn]* ) answer='no'; break;;
            * ) echo "Please answer yes or no.";;
        esac
    done
    
    if [ "$answer" = 'yes' ]; then
        python3 ./catkin_ws/src/sb_master/survivorbuddy_ros/src/lab_1.py
    else
        echo "okay"
    fi
    
# 
# run moveit demo
# 
    question="run moveit demo? [y/n]";answer=''
    while true; do
        echo "$question"; read response
        case "$response" in
            [Yy]* ) answer='yes'; break;;
            [Nn]* ) answer='no'; break;;
            * ) echo "Please answer yes or no.";;
        esac
    done
    
    if [ "$answer" = 'yes' ]; then
        roslaunch sb_moveit_config demo.launch
    else
        echo "okay"
    fi
    