catkin_dir="./catkin_ws"
# if doesn't exist, make it
if ! [ -d "$catkin_dir/devel" ]
then
    cd "$catkin_dir"
    catkin_make
fi

# once it exists source it
if [ -d "$catkin_dir/devel" ]
then
    builtin cd "$catkin_dir/devel"
    source "./setup.bash"
    builtin cd - 1>/dev/null
fi

# if node doesnt exist, get it
if [ -z "$(command -v "node")" ]
then
    sudo apt-get update && sudo apt-get install -y curl
    curl -fsSL https://deb.nodesource.com/setup_16.x | sudo -E bash -
    sudo apt-get update && sudo apt-get install -y nodejs
fi

# if npm doesnt exist, get it
if [ -z "$(command -v "npm")" ]
then
    sudo apt-get update && sudo apt-get install -y npm
fi

# make sure the rosbridge-suite is installed
sudo apt install -y ros-noetic-rosbridge-suite

# if sd doesnt exist
if [ -z "$(command -v "sd")" ]
then
    nix-env -iA nixpkgs.sd
fi

server_folder="./sb_master/sb_web"
builtin cd "$server_folder"
npm install
sd 'value=".*sb_master/sb_web/cert\.pem' "value=\"$PWD/cert.pem" rb_server.launch
sd 'value=".*sb_master/sb_web/key\.pem' "value=\"$PWD/key.pem" rb_server.launch
# npx http-server -S -C cert.pem -o -K key.pem &
roslaunch rb_server.launch
builtin cd -
